body,
html {
  height: 100%;

}

#backgroundimage {

  /* background-image: url("llama.jpg"); */
  background-image: url("llama.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  

}





#typewriter {
  width: 50%;
  color: white;

  padding-left: 20px;
  font-size: 60px;
  font-weight: 300;
  font-family: cursive;

}

.title {
  width: 25rem;
  left: 40em;
  right: 100em;
  margin: auto;
  position: absolute;
  font-size: x-large;
}

.align-left {
  float: left;
  text-align: left;
}

.align-right {
  float: right;
  text-align: right;
}