:root {
  --mainColor: black;
}


a {
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;

  background-size: 0px 5px;

  text-decoration: none;
  transition: background-size .2s;

  color: white;
  margin-top: 20px;
  text-decoration: none;
}

a:hover {
  background-size: 100% 100%;
}