.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 100px;
}
#submit, #tryagain {
	
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover, #tryagain:hover{
	background-color: #3a8;
}

.myquiz{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    
}
