body{
    background: linear-gradient( rgba(225, 236, 200, 0.789), 
    rgba(255, 255, 255, 0.918)), url("back3.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;

}



.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 100px;
}
#submit, #tryagain {
	
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover, #tryagain:hover{
	background-color: #3a8;
}

.myquiz{
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    font-size: 30px;
    text-align: center;
    
}

.quiztitle{
	text-align: center;
	font-size: 90px;
	margin-left: auto;
    margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
	
}
