.mySlides {
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

}

.slides {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.information {
    height: 1050px;
    width: 1000px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px grey;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}


.information2 {
    width: 1000px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.iframe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.infotitle {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;

}

.infophoto {
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    float: inside;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    background-image: url("llamadp.png");

}
.myform{

    height: 700px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding:10px;
}


.formtitle{
    text-align: center;
    font-size: 60px;
    margin-top: 9px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-style: inset;
   
    }


input[type=text], select {
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #cccccc;
  }
  
  
  input[type=email], select {
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #cccccc;
  }
  
  
  input[type=submit] {
    width: 100%;
    background-color: #297;
    color: white;
    padding: 30px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }